h1 {
    display: flex;
    justify-content: center;
}

body, html {
    height: 100%;
    margin: 0;
}

blockquote, p {
    padding: 10%;
    text-align: justify;
}

#image {
    width: 50%;
}

.row {
    display: flex;
    align-items: center;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
}

.column img{
    padding: 5%;
}

table {
    display: flex;
    justify-content: center;
}

.right-align {
    text-align: right;
}

.carousel {
    padding: 5%;
}

section {
    padding: 5%;
}

table, p {
    display: flex;
    justify-content: center;
}

.praesdium-lid {
    width: 400px;
}

.bacchus {
    width: 500px;
}

.bacchus-title {
    display: flex;
    justify-content: center;
}

h2 {
    padding: 1%;
}

.club {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column-right {
    display: flex;
    flex-direction: column;
    text-align: right;
}

@media (max-width: 992px){
    .club {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}